@charset "UTF-8";
@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype"); }

html {
  position: relative;
  min-height: 100%; }

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: "OpenSansRegular", sans-serif;
  overflow-x: hidden;
  color: #000;
  margin-bottom: 75px; }

.hidden {
  display: none; }

a {
  outline: none !important; }
  a:hover, a:active, a:focus {
    text-decoration: none; }

strong {
  font-weight: normal;
  font-family: "OpenSansBold", sans-serif; }

.button {
  background-color: #1d75b7;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 230px;
  text-transform: uppercase;
  line-height: 40px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border: 2px solid #1d75b7;
  outline: none; }
  .button:hover, .button:active {
    background-color: #fff;
    border-color: #1d75b7;
    color: #1d75b7; }
  .button:focus {
    background-color: #1d75b7;
    color: #fff; }
  .button:disabled {
    background-color: #ccc;
    border-color: #ccc;
    color: #fff; }
    .button:disabled:hover, .button:disabled:active, .button:disabled:focus {
      background-color: #ccc;
      border-color: #ccc;
      color: #fff; }

.white-button {
  color: #1d75b7;
  border-color: #1d75b7;
  background-color: transparent; }
  .white-button:hover, .white-button:active {
    background-color: #1d75b7;
    border-color: #1d75b7;
    color: #fff; }
  .white-button:focus {
    background-color: transparent;
    color: #1d75b7; }

*::-webkit-input-placeholder {
  color: #c5c5c5;
  opacity: 1; }

*:-moz-placeholder {
  color: #c5c5c5;
  opacity: 1; }

*::-moz-placeholder {
  color: #c5c5c5;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #c5c5c5;
  opacity: 1; }

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #f1f1f1; }
  #preloader .cssload-whirlpool {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #fff;
    -webkit-border-radius: 974px;
            border-radius: 974px; }
    #preloader .cssload-whirlpool::before, #preloader .cssload-whirlpool::after {
      position: absolute;
      top: 50%;
      left: 50%;
      border: 1px solid #fff;
      border-left-color: #1d75b7;
      -webkit-border-radius: 974px;
              border-radius: 974px;
      margin: -24px 0 0 -24px;
      height: 49px;
      width: 49px;
      -webkit-animation: cssload-rotate 1150ms linear infinite;
              animation: cssload-rotate 1150ms linear infinite; }
    #preloader .cssload-whirlpool::before {
      content: "";
      margin: -22px 0 0 -22px;
      height: 43px;
      width: 43px;
      -webkit-animation: cssload-rotate 1150ms linear infinite;
              animation: cssload-rotate 1150ms linear infinite; }
    #preloader .cssload-whirlpool::after {
      content: "";
      margin: -28px 0 0 -28px;
      height: 55px;
      width: 55px;
      -webkit-animation: cssload-rotate 2300ms linear infinite;
              animation: cssload-rotate 2300ms linear infinite; }

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

#header, #header-inner, #header-full {
  background: url(../img/header-bg3.jpg) no-repeat top center;
  background-size: cover;
  position: relative;
  text-align: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  #header .main-menu-toggle, #header-inner .main-menu-toggle, #header-full .main-menu-toggle {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 28px;
    height: 30px;
    cursor: pointer;
    z-index: 2; }
    #header .main-menu-toggle div, #header-inner .main-menu-toggle div, #header-full .main-menu-toggle div {
      width: 100%;
      height: 5px;
      background: white;
      margin: 4px auto;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    #header .main-menu-toggle.on .one, #header-inner .main-menu-toggle.on .one, #header-full .main-menu-toggle.on .one {
      -webkit-transform: rotate(45deg) translate(5px, 5px);
          -ms-transform: rotate(45deg) translate(5px, 5px);
              transform: rotate(45deg) translate(5px, 5px); }
    #header .main-menu-toggle.on .two, #header-inner .main-menu-toggle.on .two, #header-full .main-menu-toggle.on .two {
      opacity: 0; }
    #header .main-menu-toggle.on .three, #header-inner .main-menu-toggle.on .three, #header-full .main-menu-toggle.on .three {
      -webkit-transform: rotate(-45deg) translate(7px, -8px);
          -ms-transform: rotate(-45deg) translate(7px, -8px);
              transform: rotate(-45deg) translate(7px, -8px); }
  #header .main-menu, #header-inner .main-menu, #header-full .main-menu {
    position: absolute;
    top: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 2; }
    #header .main-menu ul, #header-inner .main-menu ul, #header-full .main-menu ul {
      padding-left: 0;
      list-style: none;
      float: right; }
      #header .main-menu ul li, #header-inner .main-menu ul li, #header-full .main-menu ul li {
        display: inline-block; }
        #header .main-menu ul li a, #header-inner .main-menu ul li a, #header-full .main-menu ul li a {
          color: #fff;
          margin: 0 20px;
          text-decoration: none;
          text-transform: uppercase;
          font-family: "OpenSansBold", sans-serif; }
          #header .main-menu ul li a:hover, #header .main-menu ul li a:active, #header-inner .main-menu ul li a:hover, #header-inner .main-menu ul li a:active, #header-full .main-menu ul li a:hover, #header-full .main-menu ul li a:active {
            text-decoration: underline; }
  #header .right-menu, #header-inner .right-menu, #header-full .right-menu {
    position: absolute;
    top: 20px;
    right: 20px; }
    #header .right-menu ul, #header-inner .right-menu ul, #header-full .right-menu ul {
      padding-left: 0;
      list-style: none;
      float: right; }
      #header .right-menu ul li, #header-inner .right-menu ul li, #header-full .right-menu ul li {
        display: inline-block; }
        #header .right-menu ul li a, #header-inner .right-menu ul li a, #header-full .right-menu ul li a {
          color: #fff;
          margin-left: 15px;
          text-decoration: none;
          -webkit-transition: all .5s ease;
          transition: all .5s ease; }
          #header .right-menu ul li a:hover, #header .right-menu ul li a:active, #header-inner .right-menu ul li a:hover, #header-inner .right-menu ul li a:active, #header-full .right-menu ul li a:hover, #header-full .right-menu ul li a:active {
            text-decoration: underline; }
        #header .right-menu ul li .login, #header-inner .right-menu ul li .login, #header-full .right-menu ul li .login {
          display: inline-block;
          background-color: #fff;
          color: #1d75b7;
          -webkit-border-radius: 3px;
                  border-radius: 3px;
          padding: 2px 15px; }
          #header .right-menu ul li .login:hover, #header .right-menu ul li .login:active, #header-inner .right-menu ul li .login:hover, #header-inner .right-menu ul li .login:active, #header-full .right-menu ul li .login:hover, #header-full .right-menu ul li .login:active {
            text-decoration: none;
            background-color: #1d75b7;
            color: #fff; }
    #header .right-menu .languages, #header-inner .right-menu .languages, #header-full .right-menu .languages {
      z-index: 2; }
      #header .right-menu .languages .btn, #header-inner .right-menu .languages .btn, #header-full .right-menu .languages .btn {
        background-color: transparent;
        color: #fff;
        border: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        padding-left: 0;
        padding-right: 0; }
        #header .right-menu .languages .btn:focus, #header .right-menu .languages .btn:active, #header .right-menu .languages .btn:hover, #header-inner .right-menu .languages .btn:focus, #header-inner .right-menu .languages .btn:active, #header-inner .right-menu .languages .btn:hover, #header-full .right-menu .languages .btn:focus, #header-full .right-menu .languages .btn:active, #header-full .right-menu .languages .btn:hover {
          -webkit-box-shadow: none;
                  box-shadow: none; }
      #header .right-menu .languages .lang-sm, #header-inner .right-menu .languages .lang-sm, #header-full .right-menu .languages .lang-sm {
        margin-right: 5px; }
        #header .right-menu .languages .lang-sm:before, #header-inner .right-menu .languages .lang-sm:before, #header-full .right-menu .languages .lang-sm:before {
          margin-right: 5px; }
      #header .right-menu .languages .dropdown-menu, #header-inner .right-menu .languages .dropdown-menu, #header-full .right-menu .languages .dropdown-menu {
        width: 100%;
        color: #fff;
        background-color: transparent;
        padding-left: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
        padding: 0;
        border: none; }
        #header .right-menu .languages .dropdown-menu li, #header-inner .right-menu .languages .dropdown-menu li, #header-full .right-menu .languages .dropdown-menu li {
          display: block; }
          #header .right-menu .languages .dropdown-menu li a, #header-inner .right-menu .languages .dropdown-menu li a, #header-full .right-menu .languages .dropdown-menu li a {
            margin: 0;
            padding: 5px 0;
            width: 100%;
            color: #ccc; }
            #header .right-menu .languages .dropdown-menu li a:hover, #header .right-menu .languages .dropdown-menu li a:active, #header .right-menu .languages .dropdown-menu li a:focus, #header-inner .right-menu .languages .dropdown-menu li a:hover, #header-inner .right-menu .languages .dropdown-menu li a:active, #header-inner .right-menu .languages .dropdown-menu li a:focus, #header-full .right-menu .languages .dropdown-menu li a:hover, #header-full .right-menu .languages .dropdown-menu li a:active, #header-full .right-menu .languages .dropdown-menu li a:focus {
              background-color: transparent;
              color: #fff; }
  #header .centered-block, #header-inner .centered-block, #header-full .centered-block {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    width: 100%; }
    #header .centered-block .logo-caption, #header-inner .centered-block .logo-caption, #header-full .centered-block .logo-caption {
      font-size: 60px;
      color: #fff;
      font-family: "OpenSansBold", sans-serif;
      line-height: 1;
      margin-top: 3px; }
    #header .centered-block #typed, #header-inner .centered-block #typed, #header-full .centered-block #typed {
      color: #fff;
      margin: 0; }
  #header .arrow-down, #header-inner .arrow-down, #header-full .arrow-down {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -25px;
    bottom: 20px;
    width: 0;
    /*height: 0;*/
    opacity: .7;
    /*border-style: solid;*/
    border-width: 25px 25px 0 25px;
    border-color: #ffffff transparent transparent transparent;
    -webkit-animation: down-animation 1s infinite;
            animation: down-animation 1s infinite;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    #header .arrow-down:hover, #header .arrow-down:active, #header-inner .arrow-down:hover, #header-inner .arrow-down:active, #header-full .arrow-down:hover, #header-full .arrow-down:active {
      opacity: .9; }

@-webkit-keyframes down-animation {
  0% {
    bottom: 15px; }
  50% {
    bottom: 25px; }
  100% {
    bottom: 15px; } }

@keyframes down-animation {
  0% {
    bottom: 15px; }
  50% {
    bottom: 25px; }
  100% {
    bottom: 15px; } }

.typed-cursor {
  display: none;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#header-inner {
  height: 300px; }
  #header-inner .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 26px;
    line-height: 1;
    font-family: "OpenSansBold", sans-serif; }
  #header-inner .centered-block h1 {
    font-family: "OpenSansBold", sans-serif;
    color: #fff;
    margin: 0; }

#timers {
  padding: 20px 0;
  border-bottom: 1px dotted #1d75b7; }
  #timers .timer-item {
    text-align: center; }
    #timers .timer-item .title {
      color: #1d75b7;
      margin-bottom: 10px; }
    #timers .timer-item p {
      margin: 0;
      color: #1d75b7;
      font-size: 12px; }
  #timers .price-item {
    text-align: center;
    color: #1d75b7; }
    #timers .price-item p {
      margin-bottom: 3px; }
    #timers .price-item .fz-40 {
      font-size: 40px;
      line-height: 1; }
    #timers .price-item .fz-20 {
      font-size: 20px;
      line-height: 1; }
    #timers .price-item .button {
      margin: 10px auto 0;
      font-family: "OpenSansBold", sans-serif;
      font-size: 16px; }

.timer .timer-descr {
  padding-left: 0;
  list-style: none;
  text-align: center;
  position: relative;
  width: 230px;
  margin: 0 auto 25px;
  color: #1d75b7; }
  .timer .timer-descr li {
    display: inline-block;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .timer .timer-descr li:nth-child(1) {
    left: 10%; }
  .timer .timer-descr li:nth-child(2) {
    left: 36%; }
  .timer .timer-descr li:nth-child(3) {
    left: 63%; }
  .timer .timer-descr li:nth-child(4) {
    left: 90%; }

#status {
  padding: 20px 0;
  border-bottom: 1px dotted #1d75b7; }
  #status .status-item {
    text-align: center; }
    #status .status-item .title {
      font-family: "OpenSansBold", sans-serif;
      font-size: 20px;
      color: #777;
      line-height: 1;
      margin-bottom: 15px; }
    #status .status-item .price {
      color: #0099cc;
      font-size: 14px;
      font-family: "OpenSansBold", sans-serif;
      line-height: 1;
      margin-bottom: 15px; }
    #status .status-item .button {
      margin: 0 auto;
      width: 100%;
      max-width: 230px; }
    #status .status-item .progress {
      height: 30px;
      background-color: #ccc;
      -webkit-border-radius: 0;
              border-radius: 0;
      position: relative; }
      #status .status-item .progress .progress-bar {
        -webkit-box-shadow: none;
                box-shadow: none; }
      #status .status-item .progress .progress-bar-success {
        background-color: #8de8ff; }
      #status .status-item .progress .complete {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        line-height: 30px;
        font-size: 12px;
        color: #fff; }
    #status .status-item .next-price {
      font-size: 12px;
      color: #999;
      line-height: 1; }

#minecoin {
  background-color: #fff;
  padding: 20px 0; }
  #minecoin .minecoin-item {
    color: #1d75b7; }
    #minecoin .minecoin-item .minecoin-img {
      width: 100%;
      height: 100%;
      max-width: 256px; }
      #minecoin .minecoin-item .minecoin-img img {
        width: 100%;
        height: auto; }
    #minecoin .minecoin-item .minecoin-descr {
      line-height: 1.2;
      margin-top: 20px; }

#stages {
  padding: 20px 0;
  color: #1d75b7;
  background-color: #fafafa; }
  #stages .section-title h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: "OpenSansBold", sans-serif;
    font-size: 32px;
    margin-top: 0; }
  #stages .stages-item {
    margin-bottom: 60px; }
    #stages .stages-item .stages-descr {
      padding-left: 160px;
      position: relative; }
      #stages .stages-item .stages-descr:before {
        content: "1";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 70px;
        line-height: 122px;
        text-align: center;
        color: #1d75b7;
        border: 2px solid #1d75b7;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        height: 128px;
        width: 128px; }
      #stages .stages-item .stages-descr h3 {
        font-size: 25px;
        font-family: "OpenSansBold", sans-serif; }
      #stages .stages-item .stages-descr p {
        line-height: 1.2; }
    #stages .stages-item .stages-timer .button {
      margin: 10px auto;
      text-transform: none;
      font-family: "OpenSansBold", sans-serif; }
  #stages .stages-item:nth-child(3) .stages-descr:before {
    content: "2"; }
  #stages .stages-item:nth-child(4) .stages-descr:before {
    content: "3"; }
  #stages .stages-item:nth-child(5) .stages-descr:before {
    content: "4"; }

.avalible {
  color: red;
  text-align: center;
  font-size: 14px;
  font-family: "OpenSansBold", sans-serif;
  display: none; }

#coinminer {
  padding: 20px 0; }
  #coinminer .coinminer-item {
    color: #1d75b7;
    margin-bottom: 60px; }
    #coinminer .coinminer-item .coinminer-img {
      width: 100%;
      height: 100%;
      max-width: 256px; }
      #coinminer .coinminer-item .coinminer-img img {
        width: 100%;
        height: auto; }
    #coinminer .coinminer-item .coinminer-descr h3 {
      font-size: 32px;
      font-family: "OpenSansBold", sans-serif;
      margin-top: 0; }
    #coinminer .coinminer-item .coinminer-descr p {
      line-height: 1.2; }
    #coinminer .coinminer-item .coinminer-descr .button {
      text-transform: none;
      font-family: "OpenSansBold", sans-serif;
      font-size: 20px;
      line-height: 1.4;
      margin: 20px 0 10px; }
      #coinminer .coinminer-item .coinminer-descr .button span {
        display: block;
        font-size: 15px;
        line-height: 1.6;
        color: #f0f0f0;
        font-family: "OpenSansRegular", sans-serif;
        font-weight: normal; }
      #coinminer .coinminer-item .coinminer-descr .button:hover, #coinminer .coinminer-item .coinminer-descr .button:active {
        background-color: #1d75b7;
        opacity: .7;
        color: #fff; }
    #coinminer .coinminer-item .coinminer-descr .avalible {
      text-align: left; }
  #coinminer .coinminer-item:last-child {
    margin-bottom: 0; }

#main {
  padding: 40px 0;
  color: #1d75b7; }

.page-title h2 {
  font-family: "OpenSansBold", sans-serif;
  text-align: center;
  margin: 0 0 30px; }

#contacts-form, #sign-in-form, #get-minecoins-form, #send-form, #copy-id-form {
  text-align: left; }
  #contacts-form input[type="text"],
  #contacts-form input[type="email"],
  #contacts-form input[type="password"],
  #contacts-form textarea, #sign-in-form input[type="text"],
  #sign-in-form input[type="email"],
  #sign-in-form input[type="password"],
  #sign-in-form textarea, #get-minecoins-form input[type="text"],
  #get-minecoins-form input[type="email"],
  #get-minecoins-form input[type="password"],
  #get-minecoins-form textarea, #send-form input[type="text"],
  #send-form input[type="email"],
  #send-form input[type="password"],
  #send-form textarea, #copy-id-form input[type="text"],
  #copy-id-form input[type="email"],
  #copy-id-form input[type="password"],
  #copy-id-form textarea {
    display: block;
    width: 100%;
    border: 1px solid #e6e6e6;
    text-indent: 12px;
    background-color: transparent;
    outline: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    height: 40px;
    font-size: 14px;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
    #contacts-form input[type="text"]:focus, #contacts-form input[type="text"]:hover,
    #contacts-form input[type="email"]:focus,
    #contacts-form input[type="email"]:hover,
    #contacts-form input[type="password"]:focus,
    #contacts-form input[type="password"]:hover,
    #contacts-form textarea:focus,
    #contacts-form textarea:hover, #sign-in-form input[type="text"]:focus, #sign-in-form input[type="text"]:hover,
    #sign-in-form input[type="email"]:focus,
    #sign-in-form input[type="email"]:hover,
    #sign-in-form input[type="password"]:focus,
    #sign-in-form input[type="password"]:hover,
    #sign-in-form textarea:focus,
    #sign-in-form textarea:hover, #get-minecoins-form input[type="text"]:focus, #get-minecoins-form input[type="text"]:hover,
    #get-minecoins-form input[type="email"]:focus,
    #get-minecoins-form input[type="email"]:hover,
    #get-minecoins-form input[type="password"]:focus,
    #get-minecoins-form input[type="password"]:hover,
    #get-minecoins-form textarea:focus,
    #get-minecoins-form textarea:hover, #send-form input[type="text"]:focus, #send-form input[type="text"]:hover,
    #send-form input[type="email"]:focus,
    #send-form input[type="email"]:hover,
    #send-form input[type="password"]:focus,
    #send-form input[type="password"]:hover,
    #send-form textarea:focus,
    #send-form textarea:hover, #copy-id-form input[type="text"]:focus, #copy-id-form input[type="text"]:hover,
    #copy-id-form input[type="email"]:focus,
    #copy-id-form input[type="email"]:hover,
    #copy-id-form input[type="password"]:focus,
    #copy-id-form input[type="password"]:hover,
    #copy-id-form textarea:focus,
    #copy-id-form textarea:hover {
      border-color: #1d75b7; }
  #contacts-form textarea, #sign-in-form textarea, #get-minecoins-form textarea, #send-form textarea, #copy-id-form textarea {
    height: 100px;
    padding-top: 5px; }
  #contacts-form label, #sign-in-form label, #get-minecoins-form label, #send-form label, #copy-id-form label {
    font-weight: normal; }
  #contacts-form .form-group, #sign-in-form .form-group, #get-minecoins-form .form-group, #send-form .form-group, #copy-id-form .form-group {
    position: relative;
    margin-bottom: 20px; }
  #contacts-form .button, #sign-in-form .button, #get-minecoins-form .button, #send-form .button, #copy-id-form .button {
    margin: 0 auto; }
  #contacts-form input[type="checkbox"]:not(:checked), #contacts-form input[type="checkbox"]:checked, #sign-in-form input[type="checkbox"]:not(:checked), #sign-in-form input[type="checkbox"]:checked, #get-minecoins-form input[type="checkbox"]:not(:checked), #get-minecoins-form input[type="checkbox"]:checked, #send-form input[type="checkbox"]:not(:checked), #send-form input[type="checkbox"]:checked, #copy-id-form input[type="checkbox"]:not(:checked), #copy-id-form input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px; }
  #contacts-form input[type="checkbox"]:not(:checked) + label, #contacts-form input[type="checkbox"]:checked + label, #sign-in-form input[type="checkbox"]:not(:checked) + label, #sign-in-form input[type="checkbox"]:checked + label, #get-minecoins-form input[type="checkbox"]:not(:checked) + label, #get-minecoins-form input[type="checkbox"]:checked + label, #send-form input[type="checkbox"]:not(:checked) + label, #send-form input[type="checkbox"]:checked + label, #copy-id-form input[type="checkbox"]:not(:checked) + label, #copy-id-form input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer; }
  #contacts-form input[type="checkbox"]:not(:checked) + label:before, #contacts-form input[type="checkbox"]:checked + label:before, #sign-in-form input[type="checkbox"]:not(:checked) + label:before, #sign-in-form input[type="checkbox"]:checked + label:before, #get-minecoins-form input[type="checkbox"]:not(:checked) + label:before, #get-minecoins-form input[type="checkbox"]:checked + label:before, #send-form input[type="checkbox"]:not(:checked) + label:before, #send-form input[type="checkbox"]:checked + label:before, #copy-id-form input[type="checkbox"]:not(:checked) + label:before, #copy-id-form input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: transparent; }
  #contacts-form input[type="checkbox"]:not(:checked) + label:after, #contacts-form input[type="checkbox"]:checked + label:after, #sign-in-form input[type="checkbox"]:not(:checked) + label:after, #sign-in-form input[type="checkbox"]:checked + label:after, #get-minecoins-form input[type="checkbox"]:not(:checked) + label:after, #get-minecoins-form input[type="checkbox"]:checked + label:after, #send-form input[type="checkbox"]:not(:checked) + label:after, #send-form input[type="checkbox"]:checked + label:after, #copy-id-form input[type="checkbox"]:not(:checked) + label:after, #copy-id-form input[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 20px;
    line-height: .8;
    color: #1d75b7;
    -webkit-transition: all .2s;
    transition: all .2s; }
  #contacts-form input[type="checkbox"]:not(:checked) + label:after, #sign-in-form input[type="checkbox"]:not(:checked) + label:after, #get-minecoins-form input[type="checkbox"]:not(:checked) + label:after, #send-form input[type="checkbox"]:not(:checked) + label:after, #copy-id-form input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
  #contacts-form input[type="checkbox"]:checked + label:after, #sign-in-form input[type="checkbox"]:checked + label:after, #get-minecoins-form input[type="checkbox"]:checked + label:after, #send-form input[type="checkbox"]:checked + label:after, #copy-id-form input[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  #contacts-form input[type="checkbox"]:disabled:not(:checked) + label:before, #sign-in-form input[type="checkbox"]:disabled:not(:checked) + label:before, #get-minecoins-form input[type="checkbox"]:disabled:not(:checked) + label:before, #send-form input[type="checkbox"]:disabled:not(:checked) + label:before, #copy-id-form input[type="checkbox"]:disabled:not(:checked) + label:before {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #bbb;
    background-color: #ddd; }
  #contacts-form input[type="checkbox"]:disabled:checked + label:before, #sign-in-form input[type="checkbox"]:disabled:checked + label:before, #get-minecoins-form input[type="checkbox"]:disabled:checked + label:before, #send-form input[type="checkbox"]:disabled:checked + label:before, #copy-id-form input[type="checkbox"]:disabled:checked + label:before {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #bbb;
    background-color: #ddd; }
  #contacts-form input[type="checkbox"]:disabled:checked + label:after, #sign-in-form input[type="checkbox"]:disabled:checked + label:after, #get-minecoins-form input[type="checkbox"]:disabled:checked + label:after, #send-form input[type="checkbox"]:disabled:checked + label:after, #copy-id-form input[type="checkbox"]:disabled:checked + label:after {
    color: #999; }
  #contacts-form input[type="checkbox"]:disabled + label, #sign-in-form input[type="checkbox"]:disabled + label, #get-minecoins-form input[type="checkbox"]:disabled + label, #send-form input[type="checkbox"]:disabled + label, #copy-id-form input[type="checkbox"]:disabled + label {
    color: #aaa; }
  #contacts-form .checkbox label, #sign-in-form .checkbox label, #get-minecoins-form .checkbox label, #send-form .checkbox label, #copy-id-form .checkbox label {
    line-height: 1.4;
    font-size: 13px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

.header-full {
  min-height: 900px; }

.sign-in-wrap {
  padding: 0 15px; }
  .sign-in-wrap #sign-in-form {
    background-color: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    max-width: 400px;
    padding: 20px 20px 10px;
    margin: 10px auto; }
    .sign-in-wrap #sign-in-form h2 {
      text-align: center;
      color: #1d75b7;
      margin: 0 0 20px;
      font-size: 18px;
      font-family: "OpenSansBold", sans-serif;
      text-transform: uppercase; }
  .sign-in-wrap .remind-panel {
    max-width: 360px;
    margin: 0 auto; }
    .sign-in-wrap .remind-panel a {
      color: #fff; }
      .sign-in-wrap .remind-panel a:hover {
        text-decoration: underline; }
    .sign-in-wrap .remind-panel .lost-password {
      float: left; }
    .sign-in-wrap .remind-panel .sign-up {
      float: right; }

.full-page-bg {
  margin-bottom: 0; }

.get-minecoins-wrap {
  padding: 0 15px; }
  .get-minecoins-wrap #get-minecoins-form {
    background-color: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    max-width: 700px;
    padding: 20px 20px 10px;
    margin: 10px auto; }
    .get-minecoins-wrap #get-minecoins-form h2 {
      font-size: 18px;
      color: #1d75b7;
      margin: 0 0 20px;
      font-family: "OpenSansBold", sans-serif;
      text-align: center;
      line-height: 1;
      text-transform: uppercase; }
    .get-minecoins-wrap #get-minecoins-form p {
      font-family: "OpenSansBold", sans-serif;
      line-height: 1.2;
      margin-bottom: 5px; }
    .get-minecoins-wrap #get-minecoins-form label {
      font-size: 14px;
      color: #b6b6b6; }
    .get-minecoins-wrap #get-minecoins-form .small-grey {
      font-size: 12px;
      color: #b6b6b6;
      font-family: "OpenSansRegular", sans-serif;
      line-height: 1; }
    .get-minecoins-wrap #get-minecoins-form .checkbox label {
      color: #000; }

.equally {
  position: relative; }
  .equally:after {
    content: "=";
    color: #b6b6b6;
    position: absolute;
    top: 40px;
    right: -20px;
    font-size: 18px;
    line-height: 1;
    display: block; }

#popup1, #popup2, #popup3, #popup4, #popup5, #notif-popup {
  background-color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  text-align: center; }
  #popup1 .button, #popup2 .button, #popup3 .button, #popup4 .button, #popup5 .button, #notif-popup .button {
    margin: 0 auto; }
  #popup1 .qr-code, #popup2 .qr-code, #popup3 .qr-code, #popup4 .qr-code, #popup5 .qr-code {
    margin: 20px 0; }
  #popup1 p, #popup2 p, #popup3 p, #popup4 p, #popup5 p, #notif-popup p {
    font-size: 14px;
    font-family: "OpenSansBold", sans-serif; }
  #popup1 h2, #popup2 h2, #popup3 h2, #popup4 h2, #popup5 h2, #notif-popup h2 {
    font-size: 18px;
    color: #1d75b7;
    margin: 0 0 20px;
    font-family: "OpenSansBold", sans-serif;
    text-align: center;
    line-height: 1;
    text-transform: uppercase; }
  #popup1 .small-grey, #popup2 .small-grey, #popup3 .small-grey, #popup4 .small-grey, #popup5 .small-grey {
    color: #999;
    font-size: 12px;
    font-family: "OpenSansRegular", sans-serif; }
  #popup1 .medium-grey, #popup2 .medium-grey, #popup3 .medium-grey, #popup4 .medium-grey, #popup5 .medium-grey {
    color: #999;
    font-size: 14px;
    font-family: "OpenSansRegular", sans-serif; }
  #popup1 .payment, #popup2 .payment, #popup3 .payment, #popup4 .payment, #popup5 .payment {
    color: #999;
    font-family: "OpenSansRegular", sans-serif;
    margin-bottom: 0; }
  #popup1 .text-code, #popup2 .text-code, #popup3 .text-code, #popup4 .text-code, #popup5 .text-code {
    font-size: 14px;
    margin-bottom: 10px; }
  #popup1 .status, #popup2 .status, #popup3 .status, #popup4 .status, #popup5 .status {
    font-size: 14px;
    font-family: "OpenSansBold", sans-serif;
    margin-bottom: 20px; }
    #popup1 .status span, #popup2 .status span, #popup3 .status span, #popup4 .status span, #popup5 .status span {
      color: #999;
      font-family: "OpenSansRegular", sans-serif; }
  #popup1 .cancel-button, #popup2 .cancel-button, #popup3 .cancel-button, #popup4 .cancel-button, #popup5 .cancel-button {
    background: transparent;
    border: none;
    height: 40px;
    display: inline-block;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin-right: 10px;
    outline: none; }
    #popup1 .cancel-button:hover, #popup2 .cancel-button:hover, #popup3 .cancel-button:hover, #popup4 .cancel-button:hover, #popup5 .cancel-button:hover {
      color: #1d75b7; }
  #popup1 .continue-button, #popup2 .continue-button, #popup3 .continue-button, #popup4 .continue-button, #popup5 .continue-button {
    width: 150px;
    margin: 0;
    display: inline-block; }
  #popup1 .buttons, #popup2 .buttons, #popup3 .buttons, #popup4 .buttons, #popup5 .buttons {
    float: right;
    margin-bottom: 0; }
  #popup1 .progress, #popup2 .progress, #popup3 .progress, #popup4 .progress, #popup5 .progress {
    height: 5px;
    margin-bottom: 50px; }
  #popup1 .progress-bar, #popup2 .progress-bar, #popup3 .progress-bar, #popup4 .progress-bar, #popup5 .progress-bar {
    background-color: #1d75b7; }

#popup3 {
  max-width: 450px; }
  #popup3 p {
    font-family: "OpenSansBold", sans-serif;
    line-height: 1.2;
    margin-bottom: 5px; }
  #popup3 label {
    font-size: 14px;
    color: #b6b6b6; }
  #popup3 .small-blue {
    color: #1d75b7;
    font-family: "OpenSansRegular", sans-serif;
    margin-bottom: 20px; }
  #popup3 .small-grey {
    font-size: 14px;
    color: #b6b6b6;
    font-family: "OpenSansRegular", sans-serif;
    line-height: 1.2;
    margin-bottom: 15px; }
  #popup3 .form-group {
    margin-bottom: 5px; }

#popup4 .form-group {
  position: relative; }
  #popup4 .form-group #amount {
    padding-right: 50px; }
  #popup4 .form-group .mcn {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #1d75b7; }

#popup5 {
  max-width: 450px; }
  #popup5 h2 {
    margin-bottom: 10px; }
  #popup5 #copy-id-form {
    width: 200px;
    margin-bottom: 10px; }
  #popup5 #minecoin-id {
    width: 140px;
    float: left;
    -webkit-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px; }
  #popup5 .copy-id-button {
    width: 60px;
    height: 40px;
    line-height: 36px;
    float: left;
    -webkit-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0; }
  #popup5 .qr-code {
    margin-top: 0; }
  #popup5 .close-button {
    width: 200px; }

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8; }
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7); }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7); }

.bg-grey {
  background-color: #f6f6f6;
  margin-bottom: 0; }

#cabinet {
  height: 100%; }
  #cabinet .top-panel {
    background-color: #1d75b7;
    color: #fff;
    padding: 10px 15px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    #cabinet .top-panel .left {
      float: left; }
    #cabinet .top-panel .right {
      float: right; }
      #cabinet .top-panel .right .exchange-rates,
      #cabinet .top-panel .right .balance {
        display: inline-block; }
      #cabinet .top-panel .right .exchange-rates {
        position: relative; }
        #cabinet .top-panel .right .exchange-rates:after {
          content: "|";
          padding-left: 20px;
          padding-right: 15px; }
  #cabinet .left-sidebar {
    color: #fff;
    background-color: #cdcdcd;
    margin: 30px 0;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    #cabinet .left-sidebar .user {
      text-align: center;
      margin-bottom: 30px; }
      #cabinet .left-sidebar .user .avatar {
        width: 150px;
        height: 150px;
        margin: 15px auto; }
        #cabinet .left-sidebar .user .avatar img {
          width: 100%;
          height: auto;
          -webkit-border-radius: 50%;
                  border-radius: 50%; }
    #cabinet .left-sidebar .left-menu {
      margin-left: 20%;
      margin-bottom: 50px; }
      #cabinet .left-sidebar .left-menu ul {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0; }
        #cabinet .left-sidebar .left-menu ul li {
          margin-bottom: 10px; }
          #cabinet .left-sidebar .left-menu ul li a {
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 1;
            -webkit-transition: all .5s ease;
            transition: all .5s ease; }
            #cabinet .left-sidebar .left-menu ul li a:hover, #cabinet .left-sidebar .left-menu ul li a:active {
              color: #1d75b7; }
            #cabinet .left-sidebar .left-menu ul li a .glyphicon {
              padding-right: 10px;
              padding-top: 5px; }
    #cabinet .left-sidebar .log-out {
      padding: 0 15px 15px; }
      #cabinet .left-sidebar .log-out .button {
        width: 100%; }
        #cabinet .left-sidebar .log-out .button span {
          padding-right: 10px; }
  #cabinet .main-content {
    padding: 30px 0; }
    #cabinet .main-content .balance-block {
      background-color: #fff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 20px;
      height: 140px;
      margin-bottom: 30px; }
      #cabinet .main-content .balance-block h3 {
        color: #999;
        line-height: 1;
        margin-top: 10px;
        margin-bottom: 20px; }
      #cabinet .main-content .balance-block span {
        color: #1d75b7;
        font-size: 28px;
        line-height: 1; }
    #cabinet .main-content .buttons-block {
      background-color: #fff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 20px;
      height: 140px;
      margin-bottom: 30px; }
      #cabinet .main-content .buttons-block .button {
        margin: 0 auto 12px;
        width: 100%; }
        #cabinet .main-content .buttons-block .button:last-child {
          margin-bottom: 0; }
        #cabinet .main-content .buttons-block .button span {
          padding-right: 10px; }
    #cabinet .main-content .transaction {
      background-color: #fff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 10px 20px;
      margin-bottom: 30px; }
      #cabinet .main-content .transaction h3 {
        color: #999;
        line-height: 1;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center; }
      #cabinet .main-content .transaction .transaction-table thead {
        background-color: #fafafa;
        color: #999;
        font-size: 18px;
        line-height: 1;
        height: 46px; }
        #cabinet .main-content .transaction .transaction-table thead tr th {
          font-weight: normal;
          text-shadow: none;
          border-bottom: none;
          padding-left: 10px;
          line-height: 30px;
          height: 46px; }
      #cabinet .main-content .transaction .transaction-table tbody tr:last-child td {
        border-bottom: none; }
      #cabinet .main-content .transaction .transaction-table tbody tr td {
        padding-left: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: none;
        color: #999; }
        #cabinet .main-content .transaction .transaction-table tbody tr td .subscription,
        #cabinet .main-content .transaction .transaction-table tbody tr td .withdraw,
        #cabinet .main-content .transaction .transaction-table tbody tr td .deposit {
          background-color: orange;
          color: #fff;
          padding: 5px 10px;
          width: 100px;
          font-size: 12px;
          line-height: 1;
          -webkit-border-radius: 3px;
                  border-radius: 3px;
          text-align: center; }
        #cabinet .main-content .transaction .transaction-table tbody tr td .withdraw {
          background-color: green; }
        #cabinet .main-content .transaction .transaction-table tbody tr td .deposit {
          background-color: red; }
    #cabinet .main-content .get-minecoin-block {
      background-color: #fff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 20px; }
      #cabinet .main-content .get-minecoin-block .button {
        margin: 0 auto; }
        #cabinet .main-content .get-minecoin-block .button span {
          padding-right: 10px; }
    #cabinet .main-content .chart-block {
      background-color: #fff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 10px 20px;
      margin-bottom: 30px; }
      #cabinet .main-content .chart-block h3 {
        color: #999;
        line-height: 1;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center; }

#footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px; }
  #footer .footer-inner {
    padding: 30px 0;
    background-color: #5a636e; }
  #footer .footer-menu ul {
    padding-left: 0;
    list-style: none; }
    #footer .footer-menu ul li {
      display: block;
      margin: 0 5px; }
      #footer .footer-menu ul li a {
        color: #fff; }
        #footer .footer-menu ul li a:hover {
          text-decoration: underline; }
  #footer .copyright {
    font-size: 13px;
    line-height: 1;
    text-align: center; }

#social {
  background-color: #fff;
  padding: 50px 0 20px;
  border-bottom: 1px dotted #1d75b7; }

.block-title {
  text-align: center; }
  .block-title h3 {
    margin: 0 0 25px;
    color: #fff;
    font-size: 20px;
    font-family: "OpenSansBold", sans-serif; }

.subscr-section {
  text-align: center;
  padding: 50px 0; }
  .subscr-section .block-title h3 {
    color: #777; }

#subscribe {
  text-align: left;
  width: 100%;
  display: block;
  position: relative; }
  #subscribe input[type="email"] {
    width: 100%;
    max-width: 320px;
    border: none;
    text-align: center;
    margin: 0 auto 30px;
    border-bottom: 1px solid #c6c6c6;
    border-right: none;
    font-size: 14px;
    background-color: transparent;
    outline: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 50px;
    display: block; }
    #subscribe input[type="email"]:focus, #subscribe input[type="email"]:hover {
      border-color: #1d75b7; }
  #subscribe .button {
    display: block;
    height: 40px;
    line-height: 36px;
    padding: 0 10px;
    width: 100%;
    max-width: 160px;
    text-transform: none;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    margin: 0 auto; }

.social-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 20px; }
  .social-list li {
    margin-bottom: 15px;
    width: 50%;
    float: left; }
    .social-list li a {
      color: #fff; }
      .social-list li a img {
        padding-right: 10px; }
      .social-list li a:hover {
        text-decoration: underline; }

#our-team {
  background-color: #fafafa;
  padding: 50px 0 20px; }
  #our-team .team-item {
    margin-bottom: 30px;
    text-align: center; }
    #our-team .team-item .team-img {
      width: 100%;
      height: 100%;
      max-width: 200px;
      margin: 0 auto 20px; }
      #our-team .team-item .team-img img {
        width: 100%;
        height: auto;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
    #our-team .team-item .team-name {
      font-family: "OpenSansBold", sans-serif;
      font-size: 20px;
      line-height: 30px;
      color: #1d75b7;
      display: inline-block; }
    #our-team .team-item .team-position {
      display: inline-block;
      font-size: 16px;
      color: #999;
      line-height: 30px;
      margin-bottom: 10px; }
    #our-team .team-item .social {
      margin: 0;
      padding-left: 0; }
      #our-team .team-item .social li {
        display: inline-block;
        margin: 0 2px; }

#mission {
  padding: 10px 0 40px 0;
  background-color: #fff; }

#vission {
  padding: 50px 0 40px;
  background-color: #fafafa; }

#team {
  padding: 50px 0 0;
  background-color: #fff; }

#write-to-us p {
  text-align: center;
  margin-bottom: 0; }

#write-to-us a {
  color: #1d75b7;
  text-decoration: underline; }
  #write-to-us a:hover {
    color: #1d75b7;
    text-decoration: none; }

.page-block-title {
  font-size: 25px;
  line-height: 1;
  margin: 0 0 40px 0;
  font-family: "OpenSansBold", sans-serif;
  text-align: center;
  color: #1d75b7; }

#team .team-item {
  margin-bottom: 50px; }
  #team .team-item .team-img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    margin: 0 auto 20px; }
    #team .team-item .team-img img {
      width: 100%;
      height: auto;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
  #team .team-item .top-line {
    position: relative;
    margin-bottom: 20px; }
    #team .team-item .top-line .left-side {
      float: left; }
      #team .team-item .top-line .left-side .name {
        font-family: "OpenSansBold", sans-serif;
        font-size: 20px;
        line-height: 30px;
        color: #1d75b7;
        display: inline-block;
        margin-right: 30px; }
      #team .team-item .top-line .left-side .position {
        display: inline-block;
        font-size: 16px;
        color: #999;
        line-height: 30px; }
    #team .team-item .top-line .social {
      float: right;
      margin: 0;
      padding-left: 0; }
      #team .team-item .top-line .social li {
        display: inline-block;
        margin: 0 2px; }

.mt-0 {
  margin-top: 0 !important; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-90 {
  margin-top: 90px; }

.mt-100 {
  margin-top: 100px; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-100 {
  margin-bottom: 100px; }

.pt-0 {
  padding-top: 0 !important; }

.pt-10 {
  padding-top: 10px; }

.pt-20 {
  padding-top: 20px; }

.pt-30 {
  padding-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.pt-50 {
  padding-top: 50px; }

.pt-60 {
  padding-top: 60px; }

.pt-70 {
  padding-top: 70px; }

.pt-80 {
  padding-top: 80px; }

.pt-90 {
  padding-top: 90px; }

.pt-100 {
  padding-top: 100px; }

.pb-0 {
  padding-bottom: 0 !important; }

.pb-10 {
  padding-bottom: 10px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-90 {
  padding-bottom: 90px; }

.pb-100 {
  padding-bottom: 100px; }

@media only screen and (max-width: 1200px) {
  .mt-lg-0 {
    margin-top: 0 !important; }
  .mt-lg-10 {
    margin-top: 10px; }
  .mt-lg-20 {
    margin-top: 20px; }
  .mt-lg-30 {
    margin-top: 30px; }
  .mt-lg-40 {
    margin-top: 40px; }
  .mt-lg-50 {
    margin-top: 50px; }
  .mt-lg-60 {
    margin-top: 60px; }
  .mt-lg-70 {
    margin-top: 70px; }
  .mt-lg-80 {
    margin-top: 80px; }
  .mt-lg-90 {
    margin-top: 90px; }
  .mt-lg-100 {
    margin-top: 100px; }
  .mb-lg-0 {
    margin-bottom: 0 !important; }
  .mb-lg-10 {
    margin-bottom: 10px; }
  .mb-lg-20 {
    margin-bottom: 20px; }
  .mb-lg-30 {
    margin-bottom: 30px; }
  .mb-lg-40 {
    margin-bottom: 40px; }
  .mb-lg-50 {
    margin-bottom: 50px; }
  .mb-lg-60 {
    margin-bottom: 60px; }
  .mb-lg-70 {
    margin-bottom: 70px; }
  .mb-lg-80 {
    margin-bottom: 80px; }
  .mb-lg-90 {
    margin-bottom: 90px; }
  .mb-lg-100 {
    margin-bottom: 100px; }
  .pt-lg-0 {
    padding-top: 0 !important; }
  .pt-lg-10 {
    padding-top: 10px; }
  .pt-lg-20 {
    padding-top: 20px; }
  .pt-lg-30 {
    padding-top: 30px; }
  .pt-lg-40 {
    padding-top: 40px; }
  .pt-lg-50 {
    padding-top: 50px; }
  .pt-lg-60 {
    padding-top: 60px; }
  .pt-lg-70 {
    padding-top: 70px; }
  .pt-lg-80 {
    padding-top: 80px; }
  .pt-lg-90 {
    padding-top: 90px; }
  .pt-lg-100 {
    padding-top: 100px; }
  .pb-lg-0 {
    padding-bottom: 0 !important; }
  .pb-lg-10 {
    padding-bottom: 10px; }
  .pb-lg-20 {
    padding-bottom: 20px; }
  .pb-lg-30 {
    padding-bottom: 30px; }
  .pb-lg-40 {
    padding-bottom: 40px; }
  .pb-lg-50 {
    padding-bottom: 50px; }
  .pb-lg-60 {
    padding-bottom: 60px; }
  .pb-lg-70 {
    padding-bottom: 70px; }
  .pb-lg-80 {
    padding-bottom: 80px; }
  .pb-lg-90 {
    padding-bottom: 90px; }
  .pb-lg-100 {
    padding-bottom: 100px; } }

@media only screen and (max-width: 992px) {
  .mt-md-0 {
    margin-top: 0 !important; }
  .mt-md-10 {
    margin-top: 10px; }
  .mt-md-20 {
    margin-top: 20px; }
  .mt-md-30 {
    margin-top: 30px; }
  .mt-md-40 {
    margin-top: 40px; }
  .mt-md-50 {
    margin-top: 50px; }
  .mt-md-60 {
    margin-top: 60px; }
  .mt-md-70 {
    margin-top: 70px; }
  .mt-md-80 {
    margin-top: 80px; }
  .mt-md-90 {
    margin-top: 90px; }
  .mt-md-100 {
    margin-top: 100px; }
  .mb-md-0 {
    margin-bottom: 0 !important; }
  .mb-md-10 {
    margin-bottom: 10px; }
  .mb-md-20 {
    margin-bottom: 20px; }
  .mb-md-30 {
    margin-bottom: 30px; }
  .mb-md-40 {
    margin-bottom: 40px; }
  .mb-md-50 {
    margin-bottom: 50px; }
  .mb-md-60 {
    margin-bottom: 60px; }
  .mb-md-70 {
    margin-bottom: 70px; }
  .mb-md-80 {
    margin-bottom: 80px; }
  .mb-md-90 {
    margin-bottom: 90px; }
  .mb-md-100 {
    margin-bottom: 100px; }
  .pt-md-0 {
    padding-top: 0 !important; }
  .pt-md-10 {
    padding-top: 10px; }
  .pt-md-20 {
    padding-top: 20px; }
  .pt-md-30 {
    padding-top: 30px; }
  .pt-md-40 {
    padding-top: 40px; }
  .pt-md-50 {
    padding-top: 50px; }
  .pt-md-60 {
    padding-top: 60px; }
  .pt-md-70 {
    padding-top: 70px; }
  .pt-md-80 {
    padding-top: 80px; }
  .pt-md-90 {
    padding-top: 90px; }
  .pt-md-100 {
    padding-top: 100px; }
  .pb-md-0 {
    padding-bottom: 0 !important; }
  .pb-md-10 {
    padding-bottom: 10px; }
  .pb-md-20 {
    padding-bottom: 20px; }
  .pb-md-30 {
    padding-bottom: 30px; }
  .pb-md-40 {
    padding-bottom: 40px; }
  .pb-md-50 {
    padding-bottom: 50px; }
  .pb-md-60 {
    padding-bottom: 60px; }
  .pb-md-70 {
    padding-bottom: 70px; }
  .pb-md-80 {
    padding-bottom: 80px; }
  .pb-md-90 {
    padding-bottom: 90px; }
  .pb-md-100 {
    padding-bottom: 100px; } }

@media only screen and (max-width: 768px) {
  .mt-sm-0 {
    margin-top: 0 !important; }
  .mt-sm-10 {
    margin-top: 10px; }
  .mt-sm-20 {
    margin-top: 20px; }
  .mt-sm-30 {
    margin-top: 30px; }
  .mt-sm-40 {
    margin-top: 40px; }
  .mt-sm-50 {
    margin-top: 50px; }
  .mt-sm-60 {
    margin-top: 60px; }
  .mt-sm-70 {
    margin-top: 70px; }
  .mt-sm-80 {
    margin-top: 80px; }
  .mt-sm-90 {
    margin-top: 90px; }
  .mt-sm-100 {
    margin-top: 100px; }
  .mb-sm-0 {
    margin-bottom: 0 !important; }
  .mb-sm-10 {
    margin-bottom: 10px; }
  .mb-sm-20 {
    margin-bottom: 20px; }
  .mb-sm-30 {
    margin-bottom: 30px; }
  .mb-sm-40 {
    margin-bottom: 40px; }
  .mb-sm-50 {
    margin-bottom: 50px; }
  .mb-sm-60 {
    margin-bottom: 60px; }
  .mb-sm-70 {
    margin-bottom: 70px; }
  .mb-sm-80 {
    margin-bottom: 80px; }
  .mb-sm-90 {
    margin-bottom: 90px; }
  .mb-sm-100 {
    margin-bottom: 100px; }
  .pt-sm-0 {
    padding-top: 0 !important; }
  .pt-sm-10 {
    padding-top: 10px; }
  .pt-sm-20 {
    padding-top: 20px; }
  .pt-sm-30 {
    padding-top: 30px; }
  .pt-sm-40 {
    padding-top: 40px; }
  .pt-sm-50 {
    padding-top: 50px; }
  .pt-sm-60 {
    padding-top: 60px; }
  .pt-sm-70 {
    padding-top: 70px; }
  .pt-sm-80 {
    padding-top: 80px; }
  .pt-sm-90 {
    padding-top: 90px; }
  .pt-sm-100 {
    padding-top: 100px; }
  .pb-sm-0 {
    padding-bottom: 0 !important; }
  .pb-sm-10 {
    padding-bottom: 10px; }
  .pb-sm-20 {
    padding-bottom: 20px; }
  .pb-sm-30 {
    padding-bottom: 30px; }
  .pb-sm-40 {
    padding-bottom: 40px; }
  .pb-sm-50 {
    padding-bottom: 50px; }
  .pb-sm-60 {
    padding-bottom: 60px; }
  .pb-sm-70 {
    padding-bottom: 70px; }
  .pb-sm-80 {
    padding-bottom: 80px; }
  .pb-sm-90 {
    padding-bottom: 90px; }
  .pb-sm-100 {
    padding-bottom: 100px; } }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #timers .price-item .fz-40 {
    font-size: 30px; }
  #header .main-menu ul li a,
  #header-inner .main-menu ul li a {
    margin: 0 10px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; }
  #minecoin .minecoin-item .minecoin-img,
  #coinminer .coinminer-item .coinminer-img {
    margin: 0 auto; }
  #coinminer .coinminer-item .coinminer-descr {
    text-align: center; }
  #coinminer .coinminer-item .coinminer-descr .button {
    margin: 20px auto 10px; }
  #coinminer .coinminer-item,
  #stages .stages-item {
    margin-bottom: 30px; }
  #coinminer .coinminer-item .coinminer-descr .avalible {
    text-align: center; }
  #header .main-menu-toggle,
  #header-inner .main-menu-toggle {
    display: block; }
  #header .main-menu,
  #header-inner .main-menu {
    top: 60px;
    left: 15px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    display: none; }
  #header .main-menu ul li,
  #header-inner .main-menu ul li {
    display: block;
    text-align: left; }
  #header .main-menu ul li a,
  #header-inner .main-menu ul li a {
    margin: 0; }
  #header-inner .main-menu-toggle {
    left: auto;
    right: 15px; }
  #header-inner .right-menu {
    right: 55px; }
    #header-inner .right-menu ul .login {
      margin-left: 5px; }
  #header-inner .logo {
    left: 15px;
    font-size: 22px;
    line-height: 24px; }
  #header-inner .main-menu {
    text-align: right;
    left: auto;
    right: 15px; }
  #header-inner .main-menu ul li {
    text-align: right; }
  #cabinet .left-sidebar .left-menu {
    margin-left: 0;
    padding-left: 15px; }
  #copy-id-form {
    margin: 0 auto 10px; }
  .team-item .top-line .left-side {
    float: none;
    text-align: center; }
  .team-item .top-line .left-side .name {
    margin: 0;
    display: block; }
  .team-item .top-line .left-side .position {
    display: block;
    margin-bottom: 10px; }
  .team-item .top-line .social {
    float: none;
    text-align: center; }
  #footer .footer-menu {
    text-align: center;
    margin-bottom: 20px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #stages .stages-item .stages-descr {
    padding-left: 0; }
    #stages .stages-item .stages-descr:before {
      display: none; }
  #stages .stages-item .stages-descr h3 {
    text-align: center; }
  #cabinet .top-panel .right,
  #cabinet .top-panel .left {
    float: none; }
  #cabinet .top-panel .right .exchange-rates:after {
    padding-left: 10px;
    padding-right: 5px; }
  #cabinet .main-content .balance-block span,
  #cabinet .main-content .balance-block h3 {
    font-size: 18px; }
  #cabinet .main-content .buttons-block .button {
    font-size: 12px; }
  #cabinet .main-content .transaction .transaction-table,
  #cabinet .main-content .transaction .transaction-table thead {
    font-size: 12px; }
  #cabinet .top-panel {
    text-align: center;
    font-size: 14px; }
  #popup3 label {
    font-size: 12px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  #header-inner .logo {
    font-size: 16px;
    line-height: 32px; }
  #header-inner .right-menu ul li .login {
    padding: 2px 10px;
    font-size: 14px; }
  .get-minecoins-wrap #get-minecoins-form label {
    font-size: 10px; }
  #cabinet .top-panel .right {
    font-size: 12px; } }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
